*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    background-image: url('/static/css/images/f1.jpg');
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

 .file-wrapper{
  
     margin:auto;
    
     display: flex;
    
     position: absolute;
     top: 50%;
     left: 30%;
     transform: translate(-50%, -50%);
 }


 .upload-btn-wrapper{
     position: relative;
     overflow: hidden;
     display: inline-block;
     cursor: pointer;
 }
 .upload-file{
     border:2px dashed #eee;
     color:#9b9b9b;
     background-color: white;
     width:400px;
     height:250px;
     border-radius: 8px;
     font-size:15px;
     cursor: pointer;
 }
 .upload-btn-wrapper input[type=file]{
     width:100%;
     position: absolute;
     left:0;
     right:0;
     top:0;
     opacity: 0;
     cursor: pointer;
     min-height: 300px;
 }
 .success{
     display:none;
 }
 .success i{
     font-size:22px;
     margin-left:6px;
     margin-top:10px;
     color:#00b665;
 }
 .font-50{
     font-size:50px;
 }
 .d-block{
     display: block;
 }
 .btn .upload-file{
     font-size:13px;
 }
 .upload-btn{
     display: block;
     font-size:18px;
     color:#00b665;
 }
